body {
	font-family: Verdana, Arial, sans-serif;
	font-style: normal;
	padding: 0px;
	font-size: 90%;
}
body.fixed {
	margin-top: 50px;
}
.navbar         { background-color:#a5a5a5; border:none; padding:0px; margin:0px; }
.navbar-inner   { border:none; padding:0px; margin:0px; background-color:transparent; box-shadow:none; background-image:none; }
.navbar-inner .container-fluid { background-color:transparent; border:none; padding-left:0px; margin-left:0px; }
.navbar .divider-vertical { }
.navbar .nav li a { color:#ffffff; text-shadow: none; padding: 10px; border-right: 1px solid white; }
.navbar .nav li a:hover,
.navbar .nav li a:focus {
  background-color:#bbbbbb;
  color: #ffffff;
  box-shadow: none;
  outline-color: #828282;
}
.navbar .nav .active a:hover {
  background-color:#cccccc;
}
.navbar .btn-navbar { margin-top: 12px; margin-right: 12px;}
.navbar .brand {
	background-image: url(images/logocms.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 5px 12px 3px 12px;
	padding:0px;
	height:25px;
	width:85px;
}

h1     { font-size: 160%; line-height: 1.3em; }
h2     { font-size: 140%; line-height: 1.3em; }
h3     { font-size: 120%; line-height: 1.3em; }
h4     { font-size: 100%; line-height: 1.3em; }
.btn   { font-size: 100%; line-height: 1.3em; }
.block { width: 48%; margin: 1%; float:left; }

/*form styling --------------------------------------------------*/
form.form .control-label { font-weight: bold; }
form.form .controls input, textarea, select { width:100%; }
form.form .controls input[type="radio"] { width:auto; margin-bottom: 2px; display:block; }
form.form .controls input[type="checkbox"] { width:auto; margin-bottom: 2px; display:block; }
form.form .form-actions { padding-left: 0px; }
form label.required:after  { content: "*"; }
form input.password        { display:block; }

/*tabs--------------------------------------------------*/
nav .spacer { width:10px; height:13px; float:left; border-right: 1px solid #ffffff; color: #aaaaaa; background-color: #aaaaaa; }
nav a.tab {
	display:block;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	height: 17px;
	float: left;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 100%;
	font-weight: bold;
	background-color: #aaaaaa;
	border-right: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
}
nav a.tab:hover { background-color: #999999; }
nav a.activeTrue { background-color: #686868; }
nav .btn-group {margin-top:5px;}


/* error handling, messages */
.alert ul { margin:0px; padding:0px; }
.alert li { margin:0px; padding:0px;list-style: none; }
.poolform .req { color: red; }
.poolform .error { background-color: #FFDFDF; }
.poolform .error label.desc { color: #DF0000; }
.poolform .errorMsg, .poolform .errorMsgLbl { padding:0px; margin:0px; }

a.button {
  cursor: pointer;
  font-weight: bold; 
  background-color: #686868;
  margin-top:10px;
  padding: 2px 20px 2px 20px;
  color: white;
  width: auto; 
  text-decoration:none;
}

/*sorting--------------------------------------------------*/
#sortable { list-style-type: none; padding: 0; width: auto; margin:0px; margin-bottom:30px;}
#sortable li { 
  margin: 3px 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 16px; cursor: pointer; width: auto;
  border: 1px solid #cdcdcd; background-color: #F4F4F4;
}

/*addlist--------------------------------------------------*/
.addList {
  display: block;
}
.addList h4 {
  clear:both;
  display: block;
  padding:4px;
  margin:0px;
  padding-top:10px;
  border-bottom: 1px solid #cdcdcd;
}
.addList a {
  margin: 0px;
  display: block;
  padding: 5px;
  float:left;
  width:220px;
  color: black;
  text-decoration: none;
}
.addList a img {
  padding-right: 10px;
}
.addList a:hover {
  background-color: #eaeaff;
  text-decoration:none;
}

/* element list --------------------------------- */
.listElements {
  width: auto;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  text-align:left;
  margin-bottom: 20px;
  font-family: Verdana, Arial, sans-serif;
  color: black;
}
.listElements h4 {
  display: block;
  padding:4px;
  margin:0px;
  font-family: Verdana, Arial, sans-serif;
  text-transform: none;
  color: black;
}
.listElements a {
  margin: 0px;
  padding: 0px;
  display:block;
  width:auto;
  font-family: Verdana, Arial, sans-serif;
  color: black;
}
.listElements a:hover {
  background-color: #eaeaff;
  text-decoration:none;
}
.listElements .element {
  border-top: 1px solid #cdcdcd;
  padding: 4px;
}
.listElements .el_title {
  float: left;
  padding-left: 6px;
  width: auto;
}
.listElements .el_title h1,
.listElements .el_title h2,
.listElements .el_title h3,
.listElements .el_title h4,
.listElements .el_title h5,
.listElements .el_title h6,
 {
  font-family: Verdana, Arial, sans-serif;
  color: black;
  display: inline;
  font-weight: normal;
  text-transform: none;
}
.listElements .el_title a {
  float:left;
}
.listElements .el_title a.right {
  display:block;
  float:right;
  margin-left:10px;
}
.listElements .el_options {
  float:right;
  width: auto;
  padding-right: 6px;
}
.listElements .el_options a {
  margin: 0px;
  width: auto;
  display: inline;
  font-family: Verdana, Arial, sans-serif;
  color: black;
}
.listElements .el_options a img {
  padding: 0px;
  margin: 0px;
  width: auto;
  display: inline;
}
.listElements .el_options .block {
  float:left;
  width: auto;
  padding-left: 6px;
  padding-right: 6px;
  margin: 0px;
  border-right: 1px solid #cdcdcd;
}
.listElements .el_options .block_del {
  width: auto;
  float:right;
  padding-left: 6px;
  padding-right: 0px;
}
